html {
	background: url(../images/bg.png) repeat top left;
	font-size: 16px;
}
	
body {
	background: #f1e3c5; /* fallback */
	background: linear-gradient(#9b886b, #f1e3c5); /* standard */
	background: -webkit-linear-gradient(#9b886b, #f1e3c5); /* Chrome & Safari */
	background: -moz-linear-gradient(#9b886b, #f1e3c5); /* Firefox */
	width: 70%;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	box-shadow: 0 0 10px rgba(82, 67, 62, 0.8);
}


/****** HEADINGS ******/
	
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	color: #fff;
	padding-top: 250px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
	
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	padding: 8px 0;
}
	
h2 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
	
h3 {
	font-weight: 400;
	margin: 0 4%;
}


/****** LINKS ******/	
	
a:link {
	color: #372f3e;
	text-decoration: none;
}
	
a:visited {
	color: #372f3e;
}
	
a:hover {
	color: #b22422;
	text-decoration: underline;
}
	
a:active {
	color: #e5cb54;
	text-decoration: none;
}


/****** HEADER ******/

#header {
	text-align: center;
	padding: 20px 0;
	background:url(../images/truck.jpg) no-repeat;
	background-size:100% 100%;
	height:350px;
}
	

/****** SECTION HEADERS ******/
.sectionHeader {
	height: 50px;
	background-color: #b22422;
	text-align: center;
	color: #fff;
	clear: left;
}
	
/****** SECTIONS ******/	

#contactSection {
	line-height: 1.7em;
	margin: 0 8%;
	padding: 20px 0;
	width: 50%;
	float:left;
	overflow: auto;
}
	
#historySection {
	line-height: 1.4em;
	padding: 20px;
}

#servicesSection, #photoSection {
	margin: 0 8%;
	padding: 20px 0;
}

#servicesSection {
	width: 50%;
	float:left;
}


/****** NAVIGATION ******/

nav {
	background-color: #52433e;
	height: 60px;
	text-align: center;
	padding: 80px 0 10px 0;
	font-size: 1.15em;
	margin: 0;
	border-top: 10px solid #e5cb54;
}
	
nav li {
	display: inline;
	padding:30px;
	
}
	
nav a, footer a {
	color: #fff !important;
	text-decoration: none;
}

nav a:visited, footer a:visited {
	color: #fff !important;
	text-decoration: none;
}

nav a:hover, footer a:hover {
	color: #b22422 !important;
	text-decoration: underline;
}

nav a:active, footer a:active {
	color: #e5cb54 !important;
	text-decoration: none;
}

li#historyIcon {
	background: url(../images/icons/historyIcon.png) no-repeat top center;
	padding:70px;
}

li#servicesIcon {
	background: url(../images/icons/servicesIcon.png) no-repeat top center;
	padding:70px;
}

li#photosIcon {
	background: url(../images/icons/photosIcon.png) no-repeat top center;
	padding:70px;
}

li#contactIcon {
	background: url(../images/icons/contactIcon.png) no-repeat top center;
	padding:70px;
}
	

/****** FIGURES/IMAGES ******/

figcaption {
	text-align: center;
	padding: 0 0 20px 0;
}
	
figure {
	width: 150px;
	display: inline;
	float:left;
	margin: 0;
	padding:15px;
}

#photoSection img {
	border-radius: 20px;
}
	
/****** LISTS ******/

ol {
	list-style-type: square;
}
	
	
/****** Columns ******/

#content {
	width: 100%;
	overflow: hidden;
	margin: 0 8%;
}

#columnTop {
	width:100%;
	float:left;
	padding: 10px;
}

.columnLeft {
	clear:left;
}

.columnLeft, .columnRight {
	width: 40%;
	float:left;
	padding: 10px;
}


/****** ASIDE ******/
aside {
	display: block;
	float:left;
	width:30%;
	margin: 30px 0;
}

table {
	width: 100%;
}

table, td, th {
	border: 2px solid #52433e;
	border-collapse: collapse;
}

td {
	padding: 10px;
}

th {
	background-color: #bfb2ae;
	text-transform: uppercase;
	font-size: .9em;
	text-align: center;
}

tr {
	background-color: #fef8ee;
	text-align: left
}

tr:hover {
	background-color: #b22422;
	color: #fff;
}


/****** FORM ******/
form {
	width: 80%;
	font-size: .95em;
}

fieldset {
	width: 100%;
	margin: 0px;
	background-color: #fef8ee;
}

legend {
	color:#52433e;
	font-weight: bold;
}

.title {
	width: 90px;
	float: left;
	padding: 0px 15px 0px 0px;
	clear: left;
	margin:5px 0;
}

input {
	width: 150px;
	height: 20px;
	margin: 5px;	
	border: 1px solid #52433e;
	float: left;
}

form p {
	clear:both;
}

textarea {
	margin: 10px 0;
	padding-right: 5px;
	float:right;
	width: 97%;
}

input:hover, textarea:hover {
	background-color: #fef8ee;
	border: 1px solid #b22422
}

input:focus, textarea:focus {
	background-color: #e7e0bc;
	outline: none;
	border: 2px solid #b22422 !important;
	box-shadow: 0 0 10px rgba(179, 36, 24, .6);
}

.button {
	background: url("../images/button.png") no-repeat 0 0;
	height: 37px;
	width: 93px;
	color:#fff;
	text-align: right;
	border: none;
	padding:0 10px;
	cursor: pointer;
	font-size: .9em;
	float:right;
	margin: 15px 5px 15px 0;
	clear: both;
}

.button:hover {
	background: url("../images/button.png") no-repeat 0 -37px;
	height: 37px;
	width: 93px;
	color:#000;
	text-align: right;
	border: none;
	padding:0 10px;
	cursor: pointer;
	font-size: .9em;
}


/****** FOOTER ******/
footer {
	background-color: #52433e;
	color: #f1e3c5;
	font-size: .7em;
	height:35px;
	text-align: center;
	padding-top: 10px;
	clear:both;
}

	